@use 'sass:color';

$text: #ebf8f7;
$background: #030a09;
$primary: #98dcdb;
$secondary: #2c3882;
$accent: #6a55c6;
$border-radius: 1svw;

@media (prefers-color-scheme: light) {
  $text: #071312;
  $background: #f4fbfb;
  $primary: #236764;
  $secondary: #7e89d3;
  $accent: #4e39ac;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@mixin betterButton($width, $height, $bg, $color, $bg-alt, $color-alt) {
  width: $width;
  height: $height;
  background-color: $bg;
  color: $color;
  border-radius: 100vw;
  border: 0;
  transition: color 0.1s linear, background-color 0.1s linear;

  &:focus,
  &:hover {
    background-color: $bg-alt;
    color: $color-alt;
    // transition: color 0.1s linear, background-color 0.1s linear;
    cursor: pointer;
  }

  &:active {
    background-color: color.scale($bg-alt, $lightness: 20%);
    color: color.scale($color-alt, $lightness: 20%);
    // transition: color 0.1s linear, background-color 0.1s linear;
  }
}

* {
  min-width: 0;
  margin: 0;
  background-color: $background;
  color: $text;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  display: flex;
  flex-direction: column;
}

@keyframes rainbow {
  from {
    background: linear-gradient(-90deg, $primary 0%, $text 100%);
  }
  to {
    background: linear-gradient(-90deg, $text 0%, $primary 100%);
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 3rem;
  padding: 3rem 0;
  background: linear-gradient(125deg, color.scale($primary, $lightness: -50%) 0%, $background 50%, color.scale($secondary, $lightness: -25%));


  .language_section,
  .language_section:nth-of-type(2n) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $secondary;
    padding: .5rem 1.2rem;
    padding-bottom: 2.5rem;
    border-radius: $border-radius;
    width: 40svw;
    transition: color 0.1s linear;

    .link {
      color: $primary;
      background: $secondary;

      &:hover,
      &:focus {
        cursor: pointer;
        color: $accent;
        // transition: color 0.1s linear;
      }

      button {
        @include betterButton(10rem, 2rem, $primary, $background, $secondary, $text);
        font-weight: 600;
        font-size: 1.1rem;
      }
    }

    .language_section_top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      padding: 1rem;
      gap: .5rem;

      h1 {
        text-transform: capitalize;
        background-color: $secondary;
      }

      button {
        @include betterButton(1.5rem, 1.5rem, $primary, $background, $accent, $text);
        padding: 0;
        transition: background-color 0.1s linear;

        &:hover>.icon,
        &:active>.icon {

          path {
            stroke: $text;
            background-color: transparent;
            transition: color 0.1s linear;
          }
        }


        .icon {
          background-color: transparent;
          transition: background-color 0.1s linear;
        }

        .icon>path {
          stroke: $secondary;
          transition: color 0.1s linear;
          stroke-width: 4px;
        }
      }

    }


    .language_levels_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: max(100%, 8rem);
      height: max(30svh, 8rem);
      min-height: 2rem;
      max-height: 40rem;
      background-color: $accent;
      border-radius: $border-radius;
      gap: 2rem;


      .language_level {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: inherit;
        box-shadow: black 0 0 1rem;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;

        a,
        p,
        h3 {
          background-color: inherit;
        }

      }
    }
  }

  .language_section:nth-of-type(2n) {
    background-color: $primary;


    .language_section_top {
      background-color: $primary;

      h1 {
        background-color: $primary;
        color: $background;
      }

      button {
        @include betterButton(1.5rem, 1.5rem, $secondary, $background, $accent, $text);
        padding: 0;
        transition: background-color 0.1s linear;

        &:hover>.icon,
        &:active>.icon {
          // transition: background-color 0.1s linear;
          path {
            stroke: color.scale($text, $lightness: 20%);
            transition: color 0.1s linear;
          }
        }

        .icon {
          background-color: transparent;
        }

        .icon>path {
          stroke: $text;
          stroke-width: 4px;
        }
      }
    }

    .language_levels_wrapper {
      background-color: $secondary;

      .language_level {
        background-color: inherit;

        .link {
          color: $text;
          background: $secondary;
          transition: background-color 0.1s linear;

          &:hover,
          &:focus {
            cursor: pointer;
            color: $accent;
            // transition: color 0.1s linear;
          }

          button {
            @include betterButton(10rem, 2rem, $accent, $text, $primary, $background);
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $accent;
  border-radius: $border-radius;
  padding: 2rem 0;
  margin: auto;
  grid-column: span 2;
  width: max(35svw, 25rem);
  height: max(30svh, 15rem);

  label {
    background-color: inherit;
  }

  input {
    border: 0;
    border-radius: $border-radius;
    background-color: $secondary;
    padding: .5rem;
  }

  button,
  a {
    @include betterButton(10rem, 2rem, $primary, $background, $secondary, $text);
    font-size: 1rem;
    font-weight: bold;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem .5rem;
  background-color: $primary;

  * {
    background-color: $primary;
  }

  h1 {
    color: $secondary;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    animation: 5s infinite rainbow;
  }

  .nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;

    .link {
      margin: 0 1rem;
      text-decoration: none;
      color: $accent;
      font-size: 1.25rem;
      transition: background-color 0.1s linear;

      &:hover,
      &:active {
        cursor: $primary;
        color: $secondary;
        // transition: color 0.1s linear;
      }

      &:active {
        color: color.scale($secondary, $lightness: 20%);
      }
    }

    .login {
      background-color: $text;
      color: $secondary;
      border-radius: $border-radius;
      padding: .25rem .5rem;
      transition: color 0.1s linear, background-color 0.1s linear;

      &:hover,
      &:active {
        background-color: $secondary;
        color: $text;
        // transition: background-color 0.1s linear;
      }

      &:active {
        background-color: color.scale($secondary, $lightness: 20%);
      }
    }

    .register {
      background-color: $secondary;
      color: $text;
      border-radius: $border-radius;
      padding: .25rem .5rem;
      transition: color 0.1s linear, background-color 0.1s linear;

      &:hover,
      &:active {
        background-color: $text;
        color: $secondary;
        // transition: color 0.1s linear, background-color 0.1s linear;
      }

      &:active {
        background-color: color.scale($text, $lightness: -10%);
      }
    }

    button {
      @include betterButton(5rem, 1.5rem, $secondary, $text, $accent, $text);
      margin: 0 1rem;
    }
  }
}

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $secondary;
  padding: 5rem 0;

  * {
    background-color: inherit;
  }

  .footer_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      margin: .5rem;
    }

    .link {
      color: color.scale($background, $lightness: 70%);
      transition: color 0.1s linear;

      &:hover,
      &:active {
        color: $background;
        // transition: color 0.1s linear;
      }

      &:active {
        color: color.scale($primary, $lightness: 10%);
        // transition: color 0.1s linear;
      }
    }
  }
}

// Mobile CSS
@media screen and (max-width: 900px) {
  * {
    background-color: red;
  }
}
