@use 'sass:color';

$text: #ebf8f7;
$background: #030a09;
$primary: #98dcdb;
$secondary: #2c3882;
$accent: #6a55c6;
$border-radius: 1svw;

@media (prefers-color-scheme: light) {
  $text: #071312;
  $background: #f4fbfb;
  $primary: #236764;
  $secondary: #7e89d3;
  $accent: #4e39ac;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@mixin betterButton($width, $height, $bg, $color, $bg-alt, $color-alt) {
  width: $width;
  height: $height;
  background-color: $bg;
  color: $color;
  border-radius: 100vw;
  border: 0;
  transition: color 0.1s linear, background-color 0.1s linear;

  &:focus,
  &:hover {
    background-color: $bg-alt;
    color: $color-alt;
    cursor: pointer;
  }

  &:active {
    background-color: color.scale($bg-alt, $lightness: 20%);
    color: color.scale($color-alt, $lightness: 20%);
  }

  &:disabled {
    background-color: color.scale($bg, $blackness: 30%);
    cursor: wait;

    &:hover {
      color: $color;
    }
  }
}

// TODO
@keyframes move-bg {}

@keyframes move-blob {
  0% {
    rotate: 0deg;
    left: -100%;
    top: -20%;
    aspect-ratio: 1.35;
    opacity: 1;
  }

  25% {
    rotate: -20deg;
    aspect-ratio: 1.8;
    opacity: 0.6;
  }

  50% {
    rotate: 40deg;
    left: 100%;
    top: 25%;
    aspect-ratio: 1.35;
    opacity: 1;
  }

  75% {
    rotate: 120deg;
    aspect-ratio: 1.6;
    opacity: 0.6;
  }

  100% {
    rotate: -120deg;
    left: -100%;
    top: 70%;
    aspect-ratio: 1.35;
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

* {
  min-width: 0;
  margin: 0;
  z-index: 1;
  background-color: $background;
  color: $text;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  display: flex;
  flex-direction: column;
}

.disabled {
  color: #a0a0a0;
}

main {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 3rem;
  padding: 3rem 0;
  // background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
  background: linear-gradient(125deg, color.scale($primary, $lightness: -50%) 0%, $background 50%, color.scale($secondary, $lightness: -25%));
  background-repeat: no-repeat;
  animation: move-bg 2s ease-in infinite alternate-reverse;
  z-index: -1;
  min-height: 66svh;

  * {
    z-index: 1;
  }

  .language_section,
  .language_section:nth-of-type(2n) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $secondary;
    padding: .5rem 1.2rem;
    padding-bottom: 2.5rem;
    border-radius: $border-radius;
    width: 40svw;
    transition: color 0.1s linear;
    box-shadow: 0 4svh 4svw -3svw $primary;
    animation: slide-left 0.5s ease-out;


    .link {
      color: $primary;
      background: $secondary;

      &:hover,
      &:focus {
        cursor: pointer;
        color: $accent;
        // transition: color 0.1s linear;
      }

      button {
        @include betterButton(10rem, 2rem, $primary, $background, $secondary, $text);
        font-weight: 600;
        font-size: 1.1rem;
      }
    }

    .language_section_top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      padding: 1rem;
      gap: .5rem;

      h1 {
        text-transform: capitalize;
        background-color: $secondary;
      }

      button {
        @include betterButton(1.5rem, 1.5rem, $primary, $background, $accent, $text);
        padding: 0;
        transition: background-color 0.1s linear;

        &:hover>.icon,
        &:active>.icon {

          path {
            stroke: $text;
            background-color: transparent;
            transition: color 0.1s linear;
          }
        }


        .icon {
          background-color: transparent;
          transition: background-color 0.1s linear;
        }

        .icon>path {
          stroke: $secondary;
          transition: color 0.1s linear;
          stroke-width: 4px;
        }
      }

    }


    .language_levels_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: max(100%, 8rem);
      height: max(30svh, 8rem);
      min-height: 2rem;
      max-height: 40rem;
      background-color: $accent;
      border-radius: $border-radius;
      gap: 2rem;


      .language_level {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: inherit;
        box-shadow: black 0 1svh 2svh;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        transition: box-shadow 0.1s ease-in;

        &:hover {
          box-shadow: inset white 0 0 .5rem, black 0 1svh 2svh;
          transition: box-shadow 0.1s ease-in;
        }

        a,
        p,
        h3 {
          background-color: inherit;
        }

        .progress_bar_container {
          border-radius: $border-radius;
          background-color: $background;
          min-width: max(2rem, 8svw);
          max-width: 20rem;
          height: 0.6rem;

          .progress_bar {
            border-radius: $border-radius;
            background-color: $text;
            height: 100%;
            transition: all .25s ease-out;
          }
        }

      }
    }
  }

  .language_section:nth-of-type(2n) {
    background-color: $primary;
    box-shadow: 0 4svh 4svw -3svw $secondary;


    .language_section_top {
      background-color: $primary;

      h1 {
        background-color: $primary;
        color: $background;
      }

      button {
        @include betterButton(1.5rem, 1.5rem, $secondary, $background, $accent, $text);
        padding: 0;
        transition: background-color 0.1s linear;

        &:hover>.icon,
        &:active>.icon {

          // transition: background-color 0.1s linear;
          path {
            stroke: color.scale($text, $lightness: 20%);
            transition: color 0.1s linear;
          }
        }

        .icon {
          background-color: transparent;
        }

        .icon>path {
          stroke: $text;
          stroke-width: 4px;
        }
      }
    }

    .language_levels_wrapper {
      background-color: $secondary;

      .language_level {
        background-color: inherit;

        .link {
          color: $text;
          background: $secondary;
          transition: background-color 0.1s linear;

          &:hover,
          &:focus {
            cursor: pointer;
            color: $accent;
            // transition: color 0.1s linear;
          }

          button {
            @include betterButton(10rem, 2rem, $accent, $text, $primary, $background);
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .flashcard-closed,
  .flashcard-open {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    width: 50%;
    aspect-ratio: 1.7;
    justify-content: space-evenly;
    align-items: center;
    background-color: $accent;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: $primary 0 4svh 4svh -1.5svw;
    font-size: 1.25rem;
    animation: slide-left 0.25s ease-out;

    * {
      background-color: $accent;
    }

    button {
      @include betterButton(10rem, 2rem, $secondary, $text, $primary, $background);
      font-size: 1.25rem;
      font-weight: 400;
    }

    .flashcard-top {
      padding: 1rem;
      height: 15svh;

      span {
        padding: 0 2rem;
      }

      .flashcard-words {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }

    .flashcard-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 40%;

      .flashcard-button-correct {
        box-shadow: lightgreen 0 .5rem 2rem .05rem;

        &:hover {
          background-color: lightgreen;
          color: black;
        }
      }

      .flashcard-button-wrong {
        box-shadow: red 0 .5rem 2rem .05rem;

        &:hover {
          background-color: red;
          color: black;
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $accent;
  border-radius: $border-radius;
  padding: 2rem 0;
  margin: auto;
  grid-column: span 2;
  width: max(35svw, 25rem);
  height: max(30svh, 15rem);

  label {
    background-color: inherit;
  }

  input {
    border: 0;
    border-radius: $border-radius;
    background-color: $secondary;
    padding: .5rem;
  }

  button,
  a {
    @include betterButton(10rem, 2rem, $primary, $background, $secondary, $text);
    font-size: 1rem;
    font-weight: bold;
  }

  .error-msg {
    color: #f00000;
    background-color: $accent;
    font-weight: 700;
    font-size: 14pt;
  }
}

nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2svh 1svw;
  // padding: 1.2rem .5rem;
  background-color: $primary;

  * {
    background-color: $primary;
  }

  h1 {
    color: $secondary;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: .2rem;
  }

  .nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;

    .link {
      margin: 0 1rem;
      text-decoration: none;
      color: $accent;
      font-size: 1.25rem;
      transition: background-color 0.1s linear;

      &:hover,
      &:active {
        cursor: $primary;
        color: $secondary;
        // transition: color 0.1s linear;
      }

      &:active {
        color: color.scale($secondary, $lightness: 20%);
      }
    }

    .login {
      background-color: $text;
      color: $secondary;
      border-radius: $border-radius;
      padding: .25rem .5rem;
      transition: color 0.1s linear, background-color 0.1s linear;

      &:hover,
      &:active {
        background-color: $secondary;
        color: $text;
        // transition: background-color 0.1s linear;
      }

      &:active {
        background-color: color.scale($secondary, $lightness: 20%);
      }
    }

    .register {
      background-color: $secondary;
      color: $text;
      border-radius: $border-radius;
      padding: .25rem .5rem;
      transition: color 0.1s linear, background-color 0.1s linear;

      &:hover,
      &:active {
        background-color: $text;
        color: $secondary;
        // transition: color 0.1s linear, background-color 0.1s linear;
      }

      &:active {
        background-color: color.scale($text, $lightness: -10%);
      }
    }

    button {
      @include betterButton(5rem, 1.5rem, $secondary, $text, $accent, $text);
      margin: 0 1rem;
    }
  }
}

footer {
  position: relative;
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $secondary;
  // padding: 5rem 0;
  padding: 5svh 0;
  margin: 0;

  * {
    background-color: inherit;
  }

  .footer_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      margin: .5rem;
    }

    .link {
      color: color.scale($background, $lightness: 70%);
      transition: color 0.1s linear;

      &:hover,
      &:active {
        color: $background;
        // transition: color 0.1s linear;
      }

      &:active {
        color: color.scale($primary, $lightness: 10%);
        // transition: color 0.1s linear;
      }
    }
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.spinner {
  position: relative;
  left: -0.5rem;
  background-color: transparent;
  animation: spin ease-in-out infinite 1.5s;
}

.blob {
  position: fixed;
  z-index: 0;
  width: 40rem;
  aspect-ratio: 1.35;
  border-radius: 50%;
  // background-color: lightpink;
  background-image: linear-gradient(lightpink, lightblue);
  animation: move-blob 20s infinite ease-in-out forwards alternate-reverse;
  filter: blur(70rem) contrast(1);
}

// Mobile CSS
@media screen and (max-width: 900px) {
  * {
    background-color: red;
  }
}
