body {
  display: grid;
  background-color: darkblue;
  margin: 2rem;
  padding: 0;
}

.language {
  background-color: red;
}

.card {
  background-color: blue;
}

.error {
  display: grid;
  height: 100%;
  width: 100%;
}

.error > * {
  place-self: center;
}
