body {
  display: grid;
  background-color: darkblue;
  margin: 2rem;
  padding: 0;
}

.language {
  background-color: red;
}

.card {
  background-color: blue;
}

.error {
  display: grid;
  height: 100%;
  width: 100%;
}

.error > * {
  place-self: center;
}

.study_card {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.study_card > * {
  margin: 1rem;
}
