$text: #ffffff;
$background: #020303;
$primary: #7c737d;
$secondary: #282625;
$accent: #889188;
$border-radius: 0.5rem;
$box-shadow-duration: 150ms;

body {
  display: grid;
  background: url("../img/nnnoise.svg");
  background-color: $background;
  margin: 2rem;
  padding: 0;
  color: $text;
  font-family: system-ui;
  font-size: 1.3rem;
}

button {
  background: $primary;
  height: 2rem;
  aspect-ratio: 3;
  border: 0;
  padding: 0.25rem 0.5rem;
  margin: 0 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: $border-radius;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: background $box-shadow-duration;
}
button:hover,
button:focus-within {
  cursor: pointer;
  background: $accent;
  box-shadow: 0 0 0.5rem 0.15rem $accent;
}

h1 {
  width: auto;
  text-align: center;
  text-shadow: 0 0 0.5rem $primary;
}

hr {
  color: $secondary;
  margin: 0;
  padding: 0;
}

.language_list {
  margin: 2rem 0;
  .language_list_sections {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }
}

.language_heading {
  text-align: center;
  margin: auto;
  width: fit-content;
  padding: 0 0.5rem;
  height: 2.5rem;
  color: $background;
  background: $text;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.card {
  display: grid;
  grid-template-rows: 70%;
  min-width: 18rem;
  aspect-ratio: 1.2;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  text-align: center;
  background-color: $secondary;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: box-shadow $box-shadow-duration;
  * {
    margin: 0.5rem;
  }
  .card-top {
    display: grid;
    grid-template: subgrid;
  }
  .card-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
  }
}

.card:hover,
.card:focus-within {
  box-shadow: 0 0 2rem 0.5rem $primary;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  height: 1rem;
  margin: 1rem 0 0 0;
  padding: 0;
  border-radius: $border-radius;
  background-color: rgba($primary, 0.25);
  .progress-bar-completed {
    margin: 0;
    height: 1rem;
    border-radius: inherit;
    background-color: $accent;
  }
}

.error,
.study {
  display: grid;
  height: 100%;
  width: 100%;
  * {
    place-self: center;
  }
}

.study_card {
  background: $secondary;
  min-height: 40rem;
  max-height: 60rem;
  aspect-ratio: 0.9;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: $border-radius;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: box-shadow $box-shadow-duration;
  * {
    margin: 1rem;
  }
  .to_guess {
    font-style: normal;
    font-weight: bold;
  }
  .guessed {
    font-style: italic;
  }
}
.study_card:hover,
.study-card:focus-within {
  box-shadow: 0 0 1.5rem 0.15rem $accent;
}
